<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quản lý nhà hàng</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark", style="position:fixed; top: 0; left: 0; right: 0; z-index: 1">
      <!-- Brand -->
      <a class="navbar-brand" href="#">Nhà hàng</a>

      <!-- Toggler/collapsibe Button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar links -->
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link px-3" th:href="@{/menu}">Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-3" th:href="@{/monans}">Quản lý món ăn</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-3" th:href="@{/monans}">Hóa đơn</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-3" th:href="@{/monans}">Đăng xuất</a>
          </li>
        </ul>
      </div>
      <div class="input-group justify-content-center float-right" style="width: 20%">
        <input type="text" class="form-control" placeholder="Search">
        <div class="input-group-btn">
          <a class="btn btn-default" th:href="@{/monans}" type="submit">
            <i class="glyphicon glyphicon-search"></i>
          </a>
        </div>
      </div>
    </nav>

    <br>
    <br>

    <div class="justify-content-center mr-5 ml-5" style="postion: relative">
      <div class="row justify-content-center mt-5">
        <h1 style="font-size: 3em">Danh sách món ăn</h1>
      </div>

      <div class="row justify-content-center", style="margin: 10px 0">
        <div>
          <a th:href="@{/monans/new}" class="btn btn-primary btn-sm mb-3 justify-content-center" style="color:white; font-size: 20px">Thêm món ăn</a>
        </div>
      </div>

      <div class="justify-content-center" style="overflow: auto">
        <table class="table table-striped table-bordered table text-center">
          <thead class="table-dark text-center">
          <tr>
            <th class="text-center">Tên món ăn</th>
            <th class="text-center">Mô tả</th>
            <th class="text-center">Nguyên liệu</th>
            <th class="text-center">Danh mục</th>
            <th class="text-center">Đơn giá</th>
            <th class="text-center">Note</th>
            <th class="text-center">Chức năng</th>
          </tr>
          </thead>

          <tbody>
          <tr th:each="monan: ${monans}">
            <td th:text="${monan.tenMonAn}" class="align-middle"></td>
            <td th:text="${monan.moTa}" class="align-middle"></td>
            <td th:text="${monan.nguyenLieu}" class="align-middle"></td>
            <td th:text="${monan.danhMuc}" class="align-middle"></td>
            <td th:text="${monan.donGia}" class="align-middle"></td>
            <td th:text="${monan.note}" class="align-middle"></td>
            <td>
              <a th:href="@{monans/edit/{id}(id=${monan.id})}" class="btn btn-primary" style="color:white">Sửa</a>
              <a th:href="@{monans/{id}(id=${monan.id})}" class="btn btn-danger" style="color:white">Xoá</a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

</body>
</html>